@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

$max_width: 1146px;
$min_width: 280px;

$color_black: #000;
$color_white: #fff;
$color_red: red;

$color_primary: #3fa9f5;
$color_primary_hover: #96d6ff;
$color_primary_active: #e1eef6;

$color_font: $color_black;


$font_main: 'Roboto', sans-serif;
$font_size: 16px;
$font_height: 20px;
$font_weight: 400;